/* row 1 content - headshot and about me description */
.row-1 {
  clear: both;
  width: 100%;
  height: 50%;
  /*to contain floated elements*/
  overflow: hidden; 
  display: flex;
}

.headshot {
  width: 40%;
  height: 100%;
  float: left; /* to float both divs to the left */
  box-sizing: border-box; /* to include padding and border in the width*/
  /* display: flex; */
  flex-direction: column;
  padding-left: 5%;
}

.about-txt {
  width: 60%;
  height: 50%;
  /* to float both divs to the left */
  float: left; 
  /* to include padding and border in the width */
  box-sizing: border-box;
}

/* row 2 content - professional interests, current involvements, and hobbies */
.row-2 {
  clear: both;
  width: 100%;
  height: 100%;
  /*to contain floated elements*/
  overflow: hidden; 
  display: flex;
  justify-content: center;
}

.interests {
  width: 50%;
  height: 100%;
  float: left; /* to float both divs to the left */
  box-sizing: border-box; /* to include padding and border in the width*/
  /* display: flex; */
  flex-direction: column;
  width: 33%;
  height: 100%;
  /* to float both divs to the left */
  background-color: #A8987E;
}

#professional {
  padding-left: 3%;
  padding-right: 1%;
  text-align: center;
}

#current-involvements {
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}

#hobbies {
  padding-left: 1%;;
  padding-right: 3%;
  text-align: center;
}

/* navbar */

/* Right-aligned section inside the top navigation
*  Add a black background color to the top navigation 
*/
.topnav-right {
  overflow: hidden;
  float: right;
  font-size: 1.29em;
}

/* Style the links inside the navigation bar */
.topnav-right a {
float: left;
color: #000000;
text-align: center;
padding: 0.75em 0.75em;
text-decoration: none;
font-size: 1.25em;
font-weight: bold;
border: 0.1em solid black;
border-radius: 1em;
}

/* Change the color of links on hover */
.topnav-right a:hover {
background-color: #1100ff85;
color: black;
border-radius: 1em;
border: 0.1em solid black;
border-style: outset;
}

/* Add a color to the active/current link */
.topnav-right a.active {
background-color: #0f04aa;
color: white;
border-radius: 1em;
border: 0.1em solid black;
border-style: outset;
}

body {
  /* font-family: "Helvetica now"; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #f5efef;
}