/* row 1 content - headshot and about me description */
.row-1 {
  clear: both;
  height: 50%;
  width: 100%;
  /*to contain floated elements*/
  overflow: hidden; 
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
}

.headshot {
  width: 22%;
  /* height: 100%; */
  float: left; /* to float both divs to the left */
  box-sizing: border-box; /* to include padding and border in the width*/
  flex-direction: column;
  /* display: flex; */
  /* justify-content: center; */
  overflow: hidden; 
}

.headshot-fig {
  /* to float both divs to the left */
  /* float: left;  */
  /* to include padding and border in the width */
  box-sizing: border-box; 
  /* display: flex; */
  /* display: table; */
  /* justify-content: center; */
  overflow: hidden; 
  margin: 0px;
  width: 100%;
}

.headshot-img {
  width: 95%;
  height: auto;
  border-radius: 15%;
  border: 0.1em solid #272d2dfe;
  box-shadow: 0.1em 0.1em 0.1em #416567fe;
}

.headshot-caption {
  width: 95%;
  overflow: hidden;
  box-sizing: border-box; 
}

.about-txt {
  width: 40%;
  /* height: 100%; */
  /* to float both divs to the left */
  /* to include padding and border in the width */
  box-sizing: border-box;
  background-color: #96FFD3;
  border: 0.1em solid rgb(0, 0, 0);
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.1em #47705f;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status, .intro {
  margin: 2% 3%;
  width: 94%;
  box-sizing: border-box; /* to include padding and border in the width */
  display: inline-block;          /* [6] */
  text-align: left;               /* [7] */
  vertical-align: middle;
  background-color: #46b687;
  border: 0.1em solid black;
  box-shadow: 0.1em 0.1em 0.1em #2f6b52;
  border-radius: 1em;
  padding-left: 3%;
  padding-right: 3%;
}

/* row 2 content - professional interests, current involvements, and hobbies */
.row-2 {
  clear: both;
  width: 100%;
  height: 100%;
  /*to contain floated elements*/
  /* overflow: hidden;  */
  display: flex;
  column-gap: 5%;
  justify-content: space-between;
  margin-left: 3%;
}

.interests {
  width: 100%;
  height: 100%;
  float: left; /* to float both divs to the left */
  box-sizing: border-box; /* to include padding and border in the width*/
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100%;
  background-color: #96f6fffe;
  /* margin-right: 3%; */
  border: 0.1em solid rgb(0, 0, 0);
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.1em #39777cfe;
  padding-bottom: 10%;
}

.interests-heading {
  display: inline-block;
  margin: 5% 7%;
  height: 10%;
  box-sizing: border-box; /* to include padding and border in the width */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38a7b1fe;
  border: 0.1em solid black;
  box-shadow: 0.1em 0.1em 0.1em #39777cfe;
  border-radius: 1em;
}

#relevant-courses {
  margin-right: 5%;
}

/* navbar */

/* Right-aligned section inside the top navigation
*  Add a black background color to the top navigation 
*/
.topnav-right {
  overflow: hidden;
  float: right;
  font-size: 1.29em;
}

/* Style the links inside the navigation bar */
.topnav-right a {
float: left;
color: #000000;
text-align: center;
padding: 0.75em 0.75em;
text-decoration: none;
font-size: 1.25em;
font-weight: bold;
border: 0.1em solid black;
border-radius: 1em;
}

/* Change the color of links on hover */
.topnav-right a:hover {
background-color: #1100ff85;
color: black;
border-radius: 1em;
border: 0.1em solid black;
border-style: outset;
}

/* Add a color to the active/current link */
.topnav-right a.active {
background-color: #0f04aa;
color: white;
border-radius: 1em;
border: 0.1em solid black;
border-style: outset;
}

body {
  /* font-family: "Helvetica now"; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #f5efef;
  height: 100vh;
}